* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.scoreSummary{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;	
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid silver;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid silver;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid silver;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid silver;
}